<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jeweled.exo</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>/Users/jeweled/exo/boot-exo-cluster.sh</string>
    </array>
    <key>UserName</key>
    <string>jeweled</string>
    <key>GroupName</key>
    <string>staff</string>
    <key>WorkingDirectory</key>
    <string>/Users/jeweled/exo</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>/Users/jeweled</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    <key>ThrottleInterval</key>
    <integer>120</integer>
    <key>StandardOutPath</key>
    <string>/Users/jeweled/.exo/exo_log/launchdaemon.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jeweled/.exo/exo_log/launchdaemon.stderr.log</string>
</dict>
</plist>
